<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>AJAX DROPDOWN</title>
</head>
<body>
    <div class="container pt-5">
        <div class="form-group">
            <label>Province</label>
            <select name="province" id="province" class="form-control">
                <option value="0">Select Your Province</option>
            </select>
        </div>
        <div class="form-group">
            <label>Regency</label>
            <select name="regency" id="regency" class="form-control">
                <option value="0">Select Your Regency</option>
            </select>
        </div>
    </div>
    <script>
        //Execute Method Provinces
        getProvinces()

        function getProvinces() {
            $(document).ready(function() {
                //Add function for id province
                $('#province').add(function(){
                    //Request to server
                    $.ajax({
                        url: '/provinces',
                        method: 'POST',
                        dataType: 'JSON',
                        success: function(response) {
                            var len = response.length
                            
                            for (let index = 0; index < len; index++) {
                                //Key from database/JSON
                                var id = response[index]['id']
                                var name = response[index]['name']

                                //Add data to dropdown
                                $('#province').append('<option value='+id+'>'+name+'</option>')
                            }
                        }
                    })
                })
            })
        }

        //Execute Method Regencies
        getRegencies()

        function getRegencies() {
            $(document).ready(function() {
                //Function when ID province changes
                $('#province').change(function() {
                    //Get province id
                    var provinceId = $(this).val()

                    //Request data based on province id
                    $.ajax({
                        url: '/regencies',
                        type: 'POST',
                        //Send data to server (Node JS)
                        data: {
                            province_id: provinceId
                        },
                        dataType: 'JSON',
                        success: function(response) {
                            var len = response.length
                            
                            //Empty the dropdown first
                            $('#regency').empty()

                            for (let index = 0; index < len; index++) {
                                //Key from database/JSON
                                var id = response[index]['id']
                                var name = response[index]['name']

                                //Add data to dropdown
                                $('#regency').append('<option value='+id+'>'+name+'</option>')
                            }
                        }
                    })
                })
            })
        }

    </script>
</body>
</html>